html, body, #app {
	background-color: papayawhip;
	height: 100%;
	width: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-item {
	font-size: 1em;
	background-color: springgreen;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	padding: 1em;

}

.active-list-item {
	font-size: 2em;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
